{% extends "base.html" %}
{% block hamburger %}{% endblock %}
{% block breadcrumbs_wrapper %}{% endblock %}

{% block content %}
<h1>Ouchi Closet</h1>

<div>
  {% for user in family_users %}
    <div>
      <a href="{% url 'user_closet' user.pk %}">
        {% if user.profile_image %}
          <img src="{{ user.profile_image.url }}" width="100">
        {% else %}
          <p>画像なし</p>
        {% endif %}
      </a>
      <p>{{ user.nickname }}</p>
    </div>
  {% endfor %}

  {% for child in children %}
    <div>
      <a href="{% url 'child_closet' child.pk %}">
        {% if child.profile_image %}
          <img src="{{ child.profile_image.url }}" width="100">
        {% else %}
          <p>画像なし</p>
        {% endif %}
      </a>
      <p>{{ child.nickname }}
        <a href="{% url 'child_edit' child.pk %}">✏️</a> 
      </p>
    </div>
  {% endfor %}
</div>

<p>
  <a href="{% url 'child_add' %}">＋　子どもを追加</a>
</p>
{% endblock %}