{% extends "base.html" %}

{% block content %}
<h1>Ouchi Closet</h1>

<div>
  {% for u in family_users %}
    <div>
      <a href="{% url 'user_closet' u.pk %}">
        <img src="{{ u.profile_image.url }}" width="100">
      </a>
      <p>{{ u.nickname }}</p>
    </div>
  {% endfor %}

  {% for child in children %}
    <div>
      <a href="{% url 'child_closet' child.pk %}">
        <img src="{{ child.profile_image.url }}" width="100">
      </a>
      <p>{{ child.nickname }}
        <a href="{% url 'child_edit' child.pk %}">✏️</a> 
      </p>
    </div>
  {% endfor %}
</div>

<p>
  <a href="{% url 'child_add' %}">＋　子どもを追加</a>
</p>
{% endblock %}