{% extends "portfolio_base.html" %}
{% load static %}

{% block content %}
<div class="portfolio-page">

    <h1 class="portfolio-title">作品No.１　Ouchi Closet</h1>
    
    <div class="portfolio-image-area">
        <img src="{% static 'images/ouchi_closet_home.png' %}"
            alt="Ouchi Closetのホーム画像"
            class="portfolio-image"
        >

        <img src="{% static 'images/ouchi_closet_closet.png' %}"
            alt="Ouchi Closetのクローゼット画像"
            class="portfolio-image"
        >

        <img src="{% static 'images/ouchi_closet_nursery.png' %}"
            alt="Ouchi Closetの保育園必需品画像"
            class="portfolio-image"
        >
    </div>

    <div class="portfolio-info">
        <p>
            ouchi closet は、育児と仕事に忙しい家庭に向けて、家族全員の洋服アイテムを一元管理できるクローゼット管理アプリです。<br>
            手持ちアイテムの可視化や重複購入の防止、子ども服のサイズ管理を支援するとともに、
            お気に入りコーディネート登録や保育園必需品管理機能を通じて、育児家庭の日常的な負担軽減を実現します。
        </p>
    </div>

    <div class="portfolio-documents">
        <a href="https://drive.google.com/file/d/18BuK1CPLJETuYgbtE7-j7tETF5N9ZuZ3/view?usp=drive_link">企画書</a>
        <a href="https://drive.google.com/file/d/1wmmPeOUAg9Ie_9OtYZlfAp-zoLcBVdir/view?usp=drive_link">画面設計図</a>
        <a href="https://drive.google.com/file/d/1VjX_q7Jtlg0j8iab6ExLHQ_Of0N3F_FR/view?usp=drive_link">画面遷移図</a>
        <a href="https://drive.google.com/file/d/1zDqi8DTizJQg3lur92TrpPeBJi5CXCjl/view?usp=drive_link">ER図</a>
    </div>

    <div class="portfolio-buttons">
        <a href="{% url 'home' %}" class="portfolio-button">アプリを見る</a>
    </div>
</div>
  
{% endblock %}