{% extends "base.html" %}
{% block hamburger %}{% endblock %}

{% block breadcrumbs %}
    <a href="{% url 'home' %}">ホーム</a> >
    子どもアカウント変更
{% endblock %}

{% block  content%}
<div class="signup-container">
    <h2 class="account-title">子どもアカウント変更</h2>

    <form method="post" enctype="multipart/form-data" class="account-form prevent-double-submit" novalidate>
        {% csrf_token %}
        <div class="image-area">

            <div class="profile-preview">
                {% if object.profile_image %}
                    <img id="preview-image" src="{{ object.profile_image.url }}">
                {% else %}
                    <img id="preview-image" src="{% static 'images/default-profile.png' %}" class="profile-default-icon">
                {% endif %}
            </div>
            <input type="file" name="{{ form.profile_image.name }}" id="{{ form.profile_image.id_for_label }}" accept="image/*" hidden>

            <label for="{{ form.profile_image.id_for_label }}" class="image-select-button">画像を選択</label>
        </div>

        <div class="form-group">
            <label for="{{ form.nickname.id_for_label }}">名前/ニックネーム：</label>
            {{ form.nickname }}
            {{ form.nickname.errors }}
        </div>

        <div class="form-group">
            <label for="{{ form.size.id_for_label }}">サイズ：</label>
            {{ form.size }}
            {{ form.size.errors }}
        </div>

        <div class="form-group">
            <label for="{{ form.birthday.id_for_label }}">生年月日：</label>
            {{ form.birthday }}
            {{ form.birthday.errors }}
        </div>

        <div class="save-area">
            <button type="submit" class="save-button">保存</button>
        </div>
    </form>
</div> 

<script>
const imageInput = document.getElementById("id_profile_image");
let previewImage = document.getElementById("preview-image");

imageInput.addEventListener("change", function(event) {
    const file = event.target.files[0];
    if (file) {
        const imageUrl = URL.createObjectURL(file);

        if (previewImage.tagName.toLowerCase() === "img") {
            previewImage.src = imageUrl;
            previewImage.style.display = "block";
        } else {
            const img = document.createElement("img");
            img.id = "preview-image";
            img.src = imageUrl;
            img.className = previewImage.className;

            previewImage.replaceWith(img);
            previewImage = img;
        }
    }
});
</script>
{% endblock %}