{% extends "base.html" %}
{% block hamburger %}{% endblock %}

{% block breadcrumbs %}
    <a href="{% url 'home' %}">ホーム</a> >
    子どもアカウント変更
{% endblock %}

{% block  content%}
<div class="signup-container">
    <h2 class="account-title">子どもアカウント変更</h2>

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}

        <div class="save-area">
            <button type="submit" class="save-button">保存</button>
        </div>
    </form>
</div>    
{% endblock %}