{% extends "base.html" %}

{% block hamburger %}{% endblock %}

{% block breadcrumbs %}
    <a href="{% url 'home' %}">ホーム</a> >
    アカウント管理
{% endblock %}

{% block  content%}
<div class="signup-container">  
    <h2 class="account-title">アカウント管理画面</h2>

    <div class="image-area">
        <div class="profile-preview">
            {% if user_obj.profile_image %}
                <img id="preview-image" src="{{ user_obj.profile_image.url }}">
            {% endif %}
        </div>
    </div>

    <div class="form-group">
        <label>名前/ニックネーム：</label> 
        <div class="account-display">{{ user_obj.nickname }}</div>
    </div>

    <div class="form-group">
        <label>サイズ： </label> 
        <div class="account-display">{{ user_obj.size }}</div>
    </div>

    <div class="form-group">
        <label>メールアドレス： </label> 
        <div class="account-display">{{ user_obj.email }}</div>
    </div>

    <div class="save-area">
        <a href="{% url 'account_edit' %}" class="change-button">変更</a>
    </div>
    
    <div class="save-area">
        <a href="{% url 'password_change' %}" class="change-button">パスワード変更</a>
    </div>
    
    <div class="save-area">
        <a href="{% url 'login' %}" id="open-logout-modal" class="logout-link">ログアウト</a>
    </div>

    <!-- ログアウト確認モーダル -->
        <div id="logout-modal" class="logout-modal">
            <div class="logout-modal-box">
                <p class="logout-modal-text">ログアウトしますか？</p>

                <div class="logout-modal-actions">
                    <form method="post" action="{% url 'logout' %}">
                        {% csrf_token %}
                        <button type="submit" class="logout-yes-button">はい</button>
                    </form>

                    <button type="button" id="close-logout-modal" class="logout-no-button">いいえ</button>
                </div>
            </div>
        </div>
</div>

<script>
//ログアウトモーダル
const openLogoutModalButton = document.getElementById("open-logout-modal");
const logoutModal = document.getElementById("logout-modal");
const closeLogoutModalButton = document.getElementById("close-logout-modal");

if (openLogoutModalButton && logoutModal) {
    openLogoutModalButton.addEventListener("click", function () {
        logoutModal.classList.add("active");
    });
}

if (closeLogoutModalButton && logoutModal) {
    closeLogoutModalButton.addEventListener("click", function () {
        logoutModal.classList.remove("active");
    });
}
</script>
{% endblock %}