<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyAccount</title>
</head>
<body>
    <h2>アカウント管理画面</h2>

    {% if user_obj.profile_image %}
        <img src="{{ user_obj.profile_image.url }}" alt="画像">
    {% else %}
        <p>プロフィール画像は未登録です</p>
    {% endif %}

    <p>ニックネーム： {{ user_obj.nickname }}</p>
    <p>サイズ： {{ user_obj.size }}</p>
    <p>メールアドレス： {{ user_obj.email }}</p>

    <a href="{% url 'login' %}"　class="logout-link">ログアウト</a>
    
</body>
</html>