{% extends "base.html" %}

{% block hamburger %}{% endblock %}

{% block breadcrumbs %}
    <a href="{% url 'home' %}">ホーム</a> >
    カテゴリ設定
{% endblock %}

{% block content %}

<h2 class="page-title">カテゴリ設定</h2>

<p class="category-note">
    ※デフォルトカテゴリは編集・削除できません。
</p>

<ul class="category-edit-list">
    {% for category in categories %}
        <div class="category-row">
            <span class="category-name">{{ category.name }}</span>

            {% if not category.is_default %}
                <div class="category-actions">
                    <button type="button"
                            class="edit-link open-edit-modal"
                            data-category-id="{{ category.pk }}"
                            data-category-name="{{ category.name }}">
                        編集
                    </button>

                    <button type="button"
                            class="delete-link open-delete-modal"
                            data-category-id="{{ category.pk }}"
                            data-category-name="{{ category.name}}">
                        削除
                    </button> 
                </div>
            {% endif %}
        </div>
    {% endfor %}
</ul>

<div class="setting-category-add-link-area">
    <button type="button" class="setting-add-category-link" onclick="document.getElementById('category-modal').style.display='flex'">＋カテゴリを追加</button>
</div>

<div id="category-modal" class="category-modal" style="display: none;">
    <div class="category-modal-box">
        <p>カテゴリ追加</p>

        <form method="post" action="{% url 'category_create' %}" class="prevent-double-submit">
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ request.get_full_path }}">

            <div class="category-modal-row">
                {{ category_form.name.label_tag }}
                {{ category_form.name }}
            </div>

            <div class="save-area">
                <button type="submit" class="save-button">追加</button>
            </div>
            <button type="button" class="modal-close-button" onclick="document.getElementById('category-modal').style.display='none'">×</button>
        </form>
    </div>
</div>

<div id="edit-modal" class="modal">
    <div class="modal-content"> 
        <button type="button" id="close-edit-modal" class="modal-close-button">×</button>

        <h3 class="modal-title">カテゴリ編集</h3>

        <form method="post" id="edit-form" class="prevent-double-submit">
            {% csrf_token %}

            <div class="form-group">
                <label for="edit-category-name" class="form-label">カテゴリ：</label>
                <input type="text" id="edit-category-name" name="name" class="category-form-input">
            </div>

            <div class="modal-button-area">
                <button type="submit" class="save-button">保存</button>
            </div>
        </form>
    </div>
</div>

<div id="delete-modal" class="modal">
    <div class="modal-content">
        <button type="button" id="close-delete-modal" class="modal-close-button">×</button>

        <h3 class="modal-title">カテゴリ削除</h3>
        <p class="delete-category-name">「<span id="delete-category-name"></span>」を削除しますか？</p>

        <form method="post" id="delete-form">
            {% csrf_token %}

            <div class="modal-button-area">
                <button type="submit" class="logout-button">削除</button>
            </div>
        </form>
    </div>
</div>

<script>
//編集モーダル
const editModal = document.getElementById("edit-modal");
const closeEditModalButton = document.getElementById("close-edit-modal");
const editForm = document.getElementById("edit-form");
const editCategoryNameInput = document.getElementById("edit-category-name");
const openEditButtons = document.querySelectorAll(".open-edit-modal");

openEditButtons.forEach(function(button) {
    button.addEventListener("click", function() {
        const categoryId = button.dataset.categoryId;
        const categoryName = button.dataset.categoryName;

        editCategoryNameInput.value = categoryName;
        editForm.action = `/closet/category/${categoryId}/update/`;
        editModal.style.display = "flex";
    });
});

closeEditModalButton.addEventListener("click", function() {
    editModal.style.display ="none";
});

//削除モーダル
const deleteModal = document.getElementById("delete-modal");
const closeDeleteModalButton = document.getElementById("close-delete-modal");
const deleteForm = document.getElementById("delete-form");
const deleteCategoryName = document.getElementById("delete-category-name");
const openDeleteButtons = document.querySelectorAll(".open-delete-modal");

openDeleteButtons.forEach(function(button) {
    button.addEventListener("click", function() {
        const categoryId = button.dataset.categoryId;
        const categoryName = button.dataset.categoryName;

        deleteCategoryName.textContent = categoryName;
        deleteForm.action = `/closet/category/${categoryId}/delete/`;
        deleteModal.style.display = "flex";
    });
});

closeDeleteModalButton.addEventListener("click", function() {
    deleteModal.style.display = "none";
});
</script>
  
{% endblock %}