{% extends "base.html" %}

{% block breadcrumbs %}
    <a href="{% url 'home' %}">ホーム</a> >
    {{ owner.nickname }}のクローゼット
{% endblock %}

{% block content %}

  <div>
    <ul class="category-all">
      <li>
        <a href="{% url 'clothing_list' owner_type owner.pk 'all' %}">すべて</a>
      </li>
    </ul>

    <ul class="category-list">
      <li>
        <a href="{% url 'clothing_list' owner_type owner.pk tops_category.id %}">トップス</a>
      </li>

       <li>
        <a href="{% url 'clothing_list' owner_type owner.pk bottoms_category.id %}">ボトムス</a>
      </li>

       <li>
        <a href="{% url 'clothing_list' owner_type owner.pk onepiece_category.id %}">ワンピース</a>
      </li>

       <li>
        <a href="{% url 'clothing_list' owner_type owner.pk outer_category.id %}">アウター</a>
      </li>

       <li>
        <a href="{% url 'clothing_list' owner_type owner.pk setup_category.id %}">セットアップ</a>
      </li>

       <li>
        <a href="{% url 'clothing_list' owner_type owner.pk shoes_category.id %}">シューズ</a>
      </li>

       <li>
        <a href="{% url 'clothing_list' owner_type owner.pk accessory_category.id %}">小物</a>
      </li>

       <li>
        <a href="{% url 'clothing_list' owner_type owner.pk bag_category.id %}">バッグ</a>
      </li>

    </ul>
  </div>

  <p>
    <a href="{% url 'clothing_search' owner_type owner.pk %}" class="search-button">検索</a>
  </p>

  <p>
    <a href="{% url 'clothing_create' owner_type owner.pk %}" class="save-link">＋アイテムを登録</a>
  </p>
{% endblock content %}