{% extends "base.html" %}

{% block content %}
  <h2>{{ owner.nickname }}のクローゼット</h2>

  <div>
    <ul class="category_all">
      <li>
        <a href="{% url 'clothing_list' owner_type owner_pk 'all' %}">すべて</a>
      </li>
    </ul>

    <ul class="category_list">
      <li>
        <a href="{% url 'clothing_list' owner_type owner_pk tops_category.id %}">トップス</a>
      </li>

       <li>
        <a href="{% url 'clothing_list' owner_type owner_pk bottoms_category.id %}">ボトムス</a>
      </li>

       <li>
        <a href="{% url 'clothing_list' owner_type owner_pk onepiece_category.id %}">ワンピース</a>
      </li>

       <li>
        <a href="{% url 'clothing_list' owner_type owner_pk outer_category.id %}">アウター</a>
      </li>

       <li>
        <a href="{% url 'clothing_list' owner_type owner_pk setup_category.id %}">セットアップ</a>
      </li>

       <li>
        <a href="{% url 'clothing_list' owner_type owner_pk shoes_category.id %}">シューズ</a>
      </li>

       <li>
        <a href="{% url 'clothing_list' owner_type owner_pk accessory_category.id %}">小物</a>
      </li>

       <li>
        <a href="{% url 'clothing_list' owner_type owner_pk bag_category.id %}">バッグ</a>
      </li>

    </ul>
  </div>

  <p>
    <a href="#">検索</a>
  </p>

  <p>
    <a href="#">＋アイテムを登録</a>
  </p>
{% endblock content %}