{% extends "base.html" %}

{% block breadcrumbs %}
  <a href="{% url 'home' %}">ホーム</a>　>
  {% if owner_type == "user" %}
    <a href="{% url 'user_closet' owner.pk %}">{{ owner.nickname}}のクローゼット</a>
  {% else %}
    <a href="{% url 'child_closet' owner.pk %}">{{ owner.nickname}}のクローゼット</a>   
  {% endif %}
  >
  アイテム検索
{% endblock %}

{% block content %}

<h2 class="search-title">アイテム検索</h2>

<p class="search-note">条件は複数選択可</p>

<form method="get" action="{% url 'clothing_search_results' owner_type owner.pk %}" class="clothing-form">


    <div class="form-row">
        <label class="form-label">
            {{ form.category.label_tag }}
        </label>

        <div class="form-input">
            {{ form.category }}
        </div>
    </div>

    <div class="form-row">
        <label class="form-label">
            {{ form.size.label_tag }}
        </label>

        <div class="form-input">
            {{ form.size }}
        </div>
    </div>

    <div class="form-row">
        <label class="form-label">
            {{ form.color.label_tag }}
        </label>

        <div class="form-input">
            {{ form.color }}
        </div>
    </div>

    <div class="form-row season-row">
        <label class="form-label">
            {{ form.seasons.label_tag }}
        </label>

        <div>
            {{ form.seasons }}
        </div>
    </div>

    <div class="form-row">
        <label class="form-label">
            {{ form.wear_status.label_tag }}
        </label>

        <div class="form-input">
            {{ form.wear_status }}
        </div>
    </div>

    <div class="search-button-area">
        <button type="submit" class="search-button">🔍検索</button>
    </div>
</form>
  
{% endblock %}