{% extends "base.html" %}

{% block breadcrumbs %}
    <a href="{% url 'home' %}">ホーム</a>
    {% if owner_type == "user" %}
      <a href="{% url 'user_closet' owner.pk %}">{{ owner.nickname }}のクローゼット</a>
    {% else %}
      <a href="{% url 'child_closet' owner.pk %}">{{ owner.nickname }}のクローゼット</a>
    {% endif %}
    >
    {% if is_edit %}編集{% else %}登録{% endif %}
{% endblock %}

{% block content %}

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}

    <p>
        {{ form.clothing_image }}
        {{ form.clothing_image.label_tag }}
    </p>

    <p>
        {{ form.category.label_tag }}
        {{ form.category }}
    </p>

    <p>
        <button type="button" onclick="document.getElementById('category-modal').style.display='block'">＋カテゴリを追加</button>
    </p>

    <p>
        {{ form.size.label_tag }}
        {{ form.size }}
    </p>

    <p>
        {{ form.color.label_tag }}
        {{ form.color }}
    </p>

    <p>
        {{ form.seasons.label_tag }}
        {{ form.seasons }}
    </p>

    <p>
        {{ form.wear_status.label_tag }}
        {{ form.wear_status }}
    </p>

    <p>
        {{ form.note.label_tag }}
        {{ form.note }}
    </p>

    <button type="submit" class="save_button">保存</button>
</form>

<div id="category-modal" style="display: none;">
    <p>カテゴリ追加</p>

    <form method="post" action="{% url 'category_create' %}">
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ request.get_full_path }}">

        <p>
            {{ category_form.name.label_tag }}
            {{ category_form.name }}
        </p>

        <button type="submit" class="save-button">追加</button>
        <button type="button" onclick="document.getElementById('category-modal').style.display='none'">×</button>
    </form>
</div>
  
{% endblock %}