{% extends "base.html" %}

{% block content %}

<nav>
    <a href="{% url 'home' %}">ホーム</a>
    {% if owner_type == "user" %}
      <a href="{% url 'user_closet' owner.pk %}">{{ owner.nickname }}</a>
    {% else %}
      <a href="{% url 'child_closet' owner.pk %}">{{ owner.nickname }}</a>
    {% endif %}
    >
    {% if is_edit %}編集{% else %}登録{% ensif %}
</nav>

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}

    <p>
        {{ form.clothing_image }}<br>
        {{ form.clothing_image.label_tag }}
    </p>

    <p>
        {{ form.category.label_tag }}<br>
        {{ form.category }}
    </p>

    <p>
        <a href="#">＋カテゴリ追加</a>
    </p>

    <p>
        {{ form.size.label_tag }}<br>
        {{ form.size }}
    </p>

    <p>
        {{ form.color.label_tag }}<br>
        {{ form.color }}
    </p>

    <p>
        {{ form.seasons.label_tag }}<br>
        {{ form.seasons }}
    </p>

    <p>
        {{ form.wear_status.label_tag }}<br>
        {{ form.wear_status }}
    </p>

    <p>
        {{ form.note.label_tag }}<br>
        {{ form.note }}
    </p>

    <button type="submit" class="save_button">保存</button>
</form>
  
{% endblock %}