{% extends "base.html" %}

{% block breadcrumbs %}
    <a href="{% url 'home' %}">ホーム</a> >
    {% if owner_type == "user" %}
      <a href="{% url 'user_closet' owner.pk %}">{{ owner.nickname }}のクローゼット</a>
    {% else %}
      <a href="{% url 'child_closet' owner.pk %}">{{ owner.nickname }}のクローゼット</a>
    {% endif %}
    >
    {% if is_edit %}編集{% else %}登録{% endif %}
{% endblock %}

{% block content %}

<form method="post" enctype="multipart/form-data" class="clothing-form" novalidate>
    {% csrf_token %}

    <div class="image-upload-area">
        <div class="image-preview-box">
            {% if form.instance.clothing_image %}
                <img src="{{ form.instance.clothing_image.url }}" class="image-preview">
            {% endif %}
        </div>
        <input type="file" name="{{ form.clothing_image.name }}" id="{{ form.clothing_image.id_for_label }}" accept="image/*" hidden>

        <label for="{{ form.clothing_image.id_for_label }}" class="item-image-select-link">
            画像を選択
        </label>
    </div>

    <div class="section-title">
        <p>基本情報（入力必須）</p>
    </div>

    <div class="form-row">
        <label class="form-label">
            {{ form.category.label_tag }}
        </label>

        <div class="form-input">
            {{ form.category }}
        </div>
    </div>

    <div class="form-row season-error-row">
        <label class="form-label"></label>

        <div class="form-input">
            <div class="form-error">
                {% if form.category.errors %}
                    {{ form.category.errors }}
                {% endif %}
            </div> 
        </div>    
    </div>

    <div class="category-add-link-area">
        <button type="button" class="add-category-link" onclick="document.getElementById('category-modal').style.display='flex'">＋カテゴリを追加</button>
    </div>

    <div class="form-row">
        <label class="form-label">
            {{ form.size.label_tag }}
        </label>

        <div class="form-input">
            {{ form.size }}
        </div>
    </div>

    <div class="form-row season-error-row">
        <label class="form-label"></label>

        <div class="form-input">
            <div class="form-error">
                {% if form.size.errors %}
                    {{ form.size.errors }}
                {% endif %}
            </div> 
        </div>    
    </div>

    <div class="form-row">
        <label class="form-label">
            {{ form.color.label_tag }}
        </label>

        <div class="form-input">
            {{ form.color }}
        </div>
    </div>

    <div class="form-row season-error-row">
        <label class="form-label"></label>

        <div class="form-input">
            <div class="form-error">
                {% if form.color.errors %}
                    {{ form.color.errors }}
                {% endif %}
            </div> 
        </div>    
    </div>

    <div class="form-row season-row">
        <label class="form-label">
            {{ form.seasons.label_tag }}
        </label>

        <div class="form-input">
            {{ form.seasons }}
        </div>
    </div>

    <div class="form-row season-error-row">
        <label class="form-label"></label>

        <div class="form-input">
            <div class="form-error">
                {% if form.seasons.errors %}
                    {{ form.seasons.errors }}
                {% endif %}
            </div> 
        </div>    
    </div>

    <div class="section-title">
        <p>詳細情報（任意）</p>
    </div>

    <div class="form-row">
        <label class="form-label">
            {{ form.wear_status.label_tag }}
        </label>

        <div class="form-input">
            {{ form.wear_status }}
        </div>
    </div>

    <div class="form-row memo-row">
        <label class="form-label">
            {{ form.note.label_tag }}
        </label>

        <div class="form-input">
            {{ form.note }}
        </div>
    </div>
    
    <div class="save-area">
        <button type="submit" class="save-button">保存</button>
    </div>
</form>

<div id="category-modal" class="category-modal" style="display: none;">
    <div class="category-modal-box">
        <p>カテゴリ追加</p>

        <form method="post" action="{% url 'category_create' %}">
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ request.get_full_path }}">

            <div class="category-modal-row">
                {{ category_form.name.label_tag }}
                {{ category_form.name }}
            </div>

            <div class="save-area">
                <button type="submit" class="save-button">追加</button>
            </div>
            <button type="button" class="modal-close-button" onclick="document.getElementById('category-modal').style.display='none'">×</button>
        </form>
    </div>
</div>

<script>
const imageInput = document.querySelector('input[type="file"]');
const previewBox = document.querySelector('.image-preview-box');

imageInput.addEventListener('change', function () {
    const file = this.files[0];

    if (!file) {
        return;
    }

    const reader = new FileReader();

    reader.onload = function (e) {
        previewBox.innerHTML = `
            <img src ="${e.target.result}" class="image-preview">
        `;
    };

    reader.readAsDataURL(file);
});
</script>

{% endblock %}