{% extends "base.html" %}

{% block breadcrumbs %}
    <a href="{% url 'home' %}">ホーム</a> >
    {% if owner_type == "user" %}
      <a href="{% url 'user_closet' owner.pk %}">{{ owner.nickname }}のクローゼット</a>
    {% else %}
      <a href="{% url 'child_closet' owner.pk %}">{{ owner.nickname }}のクローゼット</a>
    {% endif %}
    >コーデ登録
{% endblock %} 

{% block content %}

<div class="outfit-select">
    {% if owner_type == "user" %}
        <p>
            <a href="{% url 'user_outfit_create' owner_id=owner.pk outfit_type=0 %}" class="outfit-select-card">
                手持ちアイテムから<br>登録
            </a>
        </p>

        <p>
            <a href="{% url 'user_outfit_create' owner_id=owner.pk outfit_type=1 %}" class="outfit-select-card">
                外部サイトから<br>登録
            </a>
        </p>
    {% else %}
        <p>
            <a href="{% url 'child_outfit_create' owner_id=owner.pk outfit_type=0 %}" class="outfit-select-card">
                手持ちアイテムから<br>登録
            </a>
        </p>

        <p>
            <a href="{% url 'child_outfit_create' owner_id=owner.pk outfit_type=1 %}" class="outfit-select-card">
                外部サイトから<br>登録
            </a>
        </p>
    {% endif %}
</div>

{% endblock %}