{% extends "base.html" %}

{% block content %}
  
<nav>
    <a href="{% url 'home' %}">ホーム</a> >
    {% if owner_type == "user" %}
      <a href="{% url 'user_closet' owner.pk %}">{{ owner.nickname }}のクローゼット</a>
    {% else %}
      <a href="{% url 'child_closet' owner.pk %}">{{ owner.nickname }}のクローゼット</a>
    {% endif %}
    >コーデ編集
</nav>

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}

    {% if outfit.outfit_type == 1 %}
        {% for image in outfit.outfit_images.all %}
            <div>
                <img src="{{ image.outfit_image.url }}" width="120" alt="コーデ画像">

                <form method="post" action="{% url 'outfit_image_delete' image.pk %}">
                    {% csrf_token %}
                    <button type="submit">この画像を削除</button>
                </form>
            </div>
        {% empty %}
            <p>登録されている画像はありません</p>
        {% endfor %}

        <h3>画像を追加</h3>
        <div>
            {{ image_form.outfit_image.label_tag }}
            {{ image_form.outfit_image }}
        </div>
    {% endif %}

    <div>
        {{ form.note.label_tag }}
        {{ form.note }}
    </div>

    <div>
        {{ form.external_url.label_tag }}
        {{ form.external_url }}
    </div>

    <button type="submit" class="save-button">保存</button>
</form>

{% endblock %}