{% extends "base.html" %}

{% block breadcrumbs %}
    <a href="{% url 'home' %}">ホーム</a> >
    {% if owner_type == "user" %}
      <a href="{% url 'user_closet' owner.pk %}">{{ owner.nickname }}のクローゼット</a>
    {% else %}
      <a href="{% url 'child_closet' owner.pk %}">{{ owner.nickname }}のクローゼット</a>
    {% endif %}
    >登録コーデ一覧
{% endblock %} 

{% block content %}

<h2 class="outfit-title">登録コーデ</h2>

<div class="outfit-list-menu">
  {% if owner_type == "user" %}
    <a href="{% url 'user_favorite_outfit_list' owner.pk %}" class="outfit-list-change">←お気に入りコーデへ</a>
  {% else %}
    <a href="{% url 'child_favorite_outfit_list' owner.pk %}" class="outfit-list-change">←お気に入りコーデへ</a>
  {% endif %}

  <form  method="get" class="sort-form">
      <label for="order">並び順</label>
      <select name="order" id="order" onchange="this.form.submit()">
          <option value="new" {% if order == "new" %}selected{% endif %}>新しい順</option>
          <option value="old" {% if order == "old" %}selected{% endif %}>古い順</option>
      </select>
  </form>
</div>

<div class="outfit-list">
    {% for outfit in page_obj %}
      
      <div class="outfit-card">
        <a href="{% url 'outfit_detail' outfit.pk %}?next={{ request.get_full_path|urlencode }}">
          <div class="outfit-images">
            {% if outfit.outfit_type == 1 %}
              {% for image in outfit.outfit_images.all %}
                <div class="outfit-image-box">
                  <img src="{{ image.outfit_image.url }}" alt="コーデ画像">
                </div>
              {% endfor %}
            {% else %}
              {% for item in outfit.outfit_clothing_items.all %}
                <div class="outfit-image-box">
                  <img src="{{ item.clothing_item.clothing_image.url }}" alt="コーデ画像">
                </div>
              {% endfor %}
            {% endif %}
          </div>
        </a>

        <form method="post" action="{% url 'outfit_toggle_favorite' outfit.pk %}" class="favorite-button list-favorite-button">
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ request.get_full_path }}">

            <button type="submit">
                {% if outfit.is_favorite %}
                  <span class="heart-active">♥</span>
                {% else %}
                  <span class="heart-inactive">♡</span>
                {% endif %}
            </button>
        </form>
      </div>
    {% empty%}
      <p>登録されているコーデはありません</p>
    {% endfor %}
</div>

<div class="pagination">
    {% if page_obj.has_previous %}
        <a href="?page={{ page_obj.previous_page_number }}">←前へ</a>
    {% else %}
        <span class="pagination-disabled">←前へ</span>
    {% endif %}

    <span class="pagination-current">
        {{ page_obj.number }} / {{ page_obj.paginator.num_pages }}
    </span>

    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">次へ→</a>
    {% else %}
        <span class="pagination-disabled">次へ→</span>
    {% endif %}
</div>

<div class="add-outfit-wrapper">
  <a href="{% url 'outfit_select' owner_type owner.id %}" class="save-link">＋コーディネートを登録</a>
</div>
 
{% endblock %}