{% extends "base.html" %}

{% block content %}
  
<nav>
    <a href="{% url 'home' %}">ホーム</a> >
    {% if owner_type == "user" %}
      <a href="{% url 'user_closet' owner.pk %}">{{ owner.nickname }}のクローゼット</a>
    {% else %}
      <a href="{% url 'child_closet' owner.pk %}">{{ owner.nickname }}のクローゼット</a>
    {% endif %}
    >コーデ編集
</nav>

{% if form.errors %}
    <div>
        {{ form.errors }}
    </div>
{% endif %}

{% if outfit.outfit_type == 1 %}
    {% for image in outfit.outfit_images.all %}
        <div>
            <img src="{{ image.outfit_image.url }}" width="120" alt="コーデ画像">

            <form method="post" action="{% url 'outfit_image_delete' image.pk %}">
                {% csrf_token %}
                <button type="submit">この画像を削除</button>
            </form>
        </div>
    {% empty %}
        <p>登録されている画像はありません</p>
    {% endfor %}
{% endif %}

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}

    {% if outfit.outfit_type == 1 %}
        <h3>画像を追加</h3>

        <div id="new-image-inputs">
            <div class="new-image-row">
                <input type="file" name="outfit_images">
            </div>
        </div>

        <button type="button" id="add-image-input">＋追加</button>
    {% endif %}

    <div>
        {{ form.note.label_tag }}
        {{ form.note }}
    </div>

    <div>
        {{ form.external_url.label_tag }}
        {{ form.external_url }}
    </div>

    <div class="favorite-area">
        {{ form.is_favorite }}
        <label for="{{ form.is_favorite.id_for_label }}" class="favorite-label">
            <span class="heart-off">♡</span>
            <span class="heart-on">❤︎</span>
        </label>
    </div>

    <style>
        #id_is_favorite{
            display: none;
        }

        .favorite-label{
            cursor: pointer;
            font-size: 28px;
            display: inline-block;
        }

        .heart-on{
            display: none;
            color: red;
        }

        .heart-off{
            display: inline;
            color: grey;
        }

        #id_is_favorite:checked + .favorite-label .heart-on{
            display: inline;
        }

        #id_is_favorite:checked + .favorite-label .heart-off{
            display: none;
        }
    </style>

    <button type="submit" class="save-button">保存</button>
</form>

<script>
    const addButton = document.getElementById("add-image-input");
    const inputArea = document.getElementById("new-image-inputs");

    if (addButton && inputArea){
        addButton.addEventListener("click", function(){
            const newRow = document.createElement("div");
            newRow.className = "new-image-row";
            newRow.innerHTML = '<input type="file" name="outfit_images">';
            inputArea.appendChild(newRow);
        });
    }
</script>

{% endblock %}