{% extends "registration/account_base.html" %}

{% block content %}
<div class="account-container">
    <h2 class="account-title">パスワード再設定</h2>
    <p class="account-text">新しいパスワードを入力して下さい。</p>

    <p class="account-text">６文字以上で入力</p>

    <form method="post" class="account-form">
        {% csrf token %}
        {{ form.as_p }}

        <div class="save-area">
            <button type="submit" class="save-button">パスワードを再設定</button>
        </div>
    </form>

    <p><a href="{% url 'login' %}" class="login-link">ログイン画面へ戻る</a></p>
</div>
{% endblock %}
