<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>pass_reset</title>
</head>
<body>
    <div class="account-container">
        <h2 class="account-title">パスワード再設定</h2>
        <p class="account-text">新しいパスワードを入力して下さい。</p>

        <p class="account-text">６文字以上で入力</p>

        <form method="post" class="account-form">
            {% csrf token %}
            {{ form.as_p }}
            <button type="submit" class="save-button">パスワードを再設定</button>
        </form>

        <p><a href="{% url 'login' %}" class="login-link">ログイン画面へ戻る</a></p>
    </div>
</body>
</html>
