{% extends "registration/account_base.html" %}

{% block content %}
<div class="signup-container">
    <h2 class="account-title">新規アカウント登録</h2> 

    <form method="post" enctype="multipart/form-data" class="account-form prevent-double-submit">
        {% csrf_token %}
        
        <div class="image-area">

            <div class="profile-preview">
                <img id="preview-image">
            </div>
            {{ form.profile_image }}

            <label for="id_profile_image" class="image-select-button">画像を選択</label>

            <p class="optional-text">※プロフィール画像は任意です</p>
        </div>

        <div class="account-section-title">
            <p>※以下項目入力必須</p>
        </div>

        <div class="form-group">
            <label for="{{ form.nickname.id_for_label }}">名前/ニックネーム：</label>
            {{ form.nickname }}
            {{ form.nickname.errors }}
        </div>

        <div class="form-group">
            <label for="{{ form.size.id_for_label }}">サイズ：</label>
            {{ form.size }}
            {{ form.size.errors }}
        </div>

        <div class="form-group">
            <label for="{{ form.email.id_for_label }}">メールアドレス：</label>
            {{ form.email }}
            {{ form.email.errors }}
        </div>

        <div class="form-group">
            <label for="{{ form.passeord1.id_for_label }}">パスワード：</label>
            {{ form.password1 }}
            {{ form.password1.errors }}

            {% if form.password1.help_text %}
                <div class="helptext">
                    {{ form.password1.help_text }}
                </div>
            {% endif %}
        </div>

        <div class="form-group">
            <label for="{{ form.passeord2.id_for_label }}">パスワード（確認用）：</label>
            {{ form.password2 }}
            {{ form.password2.errors }}

            {% if form.password2.help_text %}
                <div class="helptext2">
                    {{ form.password2.help_text }}
                </div>
            {% endif %}
        </div>

        <input type="hidden" name="invite" value="{{ invite|default:'' }}">

        <div class="save-area">
            <button type="submit" class="save-button">登録</button>
        </div>
        
    </form>

    <p>
        既にアカウントをお持ちの方
        <a href="{% url 'login' %}" class="login-link">ログイン</a>
    </p>
</div>

<script>
const imageInput = document.getElementById("id_profile_image");
const previewImage = document.getElementById("preview-image");

imageInput.addEventListener("change", function(event) {
    const file = event.target.files[0];
     if (file) {
        previewImage.src = URL.createObjectURL(file);
        previewImage.style.display = "block";
     }
});
</script>
{% endblock %}
